<div class="container">
  <%= form_with model: @user_notice, local:true do |f| %>
  <%= render 'layouts/error', model: f.object %>
  <h3>受注先へのお知らせ作成</h3>
  <div class="row">
    <div class="form-group ml-3" style="width:50rem;">
         <label for="information_title">タイトル</label><br>
         <%= f.text_field :information_title,class:'col-9' %><br>
         <label for="information_body">内容</label><br>
         <%= f.text_area :information_body,class:'col-9' %><br>
         <%= f.submit '送信', class:'btn btn-info' %>
    </div>
  </div>
  <% end %>
</div>