<div class="container">
  <div class="row">
    <h3 class="ml-5">発注先からのお知らせ</h3>
    <div class="ml-auto"><%= link_to"発注先へのお知らせ作成",new_admin_admin_notice_path, class:"btn btn-secondary" %></div>
  </div>
  <div class="row">
    <div class="mx-auto w-auto mt-3">
    <div class="col_md_8">
    <% @user_notices.each do |user_notice| %>
 <div class="mb-3">
  <div class="card border-dark" style="width: 50rem;">
      <div class="card-header" style="background-color: #FFFF99;">
        <%= user_notice.information_title %>
        <span style="font-size:small;">[<%= user_notice.created_at.strftime("%m月%-d日%k時%-M分")%>]</span>
      </div>
      <div class="card-body">
        <p class="card-text"><%= user_notice.information_body %></p>
        <%= link_to"削除",admin_admin_notice_path(user_notice.id), method: :delete, data: { confirm: "【確認】削除してもよろしいですか？" },class:"btn btn-outline-warning" %>
      </div>
  </div>
 </div>
  <% end %>
  </div>
  </div>
  </div>
  <div class="row">
    <div class="mx-auto"><%= paginate @user_notices%></div>
  </div>
</div>