<div class="container mt-5">
  <table class="table-light" style="border-radius: 20px; width:50rem; margin:0 auto; border-collapse: separate; border: solid 1px;">
    <thead>
        <tr>
          <tr>
           <th style="text-align: left; font-size: 30px;"><%= @user.name %></th>
           <th style="text-align: right; font-size: 30px; color:#3CB371;"><%= current_user.name %></th>
        </tr>
    </thead>
        <% @chats.each do |chat| %>
           <% if chat.user_id == current_user.id %>
              <tbody>
                <tr>
                  <td></td>
                  <td>
                    <p style="text-align: right; font-size: 15px; color:#3CB371;"><%= chat.message%>
                    <span style="font-size:small;"><%=chat.created_at.strftime("：%-d日%k時%-M分")%></spnn></p>
                  </td>
                </tr>
              </tbody>
              <% else %>
              <tbody>
                <tr>
                  <td>
                    <p style="text-align: left; font-size: 15px;"><%= chat.message %>
                    <span style="font-size:small;"><%=chat.created_at.strftime("：%-d日%k時%-M分")%></spnn></p>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            <% end %>
        <% end %>
  </table>
  <div class="mt-3" style="padding:0 0 0 650px;">
      <%= form_with model: @chat do |f| %>
          <%= f.text_field :message, class: "col-6"%>
          <%= f.hidden_field :room_id %>
          <%= f.submit "送信", class: "btn btn-success" %>
      <% end %>
  </div>
</div>