<div class="container mt-3">
  <h3>発注商品一覧</h3>
  <div class="row">
    <table class="table">
      <thead class="thead-lignt">
        <tr>
          <th>商品名</th>
          <th>商品概要</th>
          <th>発注数</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.product.name %></td>
          <td><%= cart_item.product.introduction %></td>
          <td><%= form_with model:cart_item do |f| %>
              <%= f.number_field :quantity, max: 10,min: 1 %>
          </td>
          <td><%= f.submit "数量変更", class: "btn btn-success" %></td>
          <% end %>
          <td><%=link_to "削除", cart_item_path(cart_item),method: :delete, class: "btn btn-danger" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <div class="ml-auto">
  <div class="ml-5"><%= link_to "発注", confirm_orders_path,method: :post, class: 'btn btn-success' %></div>
  </div>
  </div>
</div>