<div class="container mt-3">
  <h3>発注商品一覧</h3>
  <div class="row">
    <% if @cart_items.empty?%>
      <div class="w-auto mx-auto mt-3">
        <h4 class="mt-3 ml-5" style="color:black;">カート内に商品がありません</h4>
      </div>
    <% else %>
    <%= form_with model: CartItem, url: update_all_cart_items_url, method: :post, local: true, class: 'table' do |f| %>
    <table class="table table-bordered table_border_radius table-light border-dark">
      <thead>
        <tr>
          <th>商品名</th>
          <th>商品概要</th>
          <th>発注数</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.product.name %></td>
          <td><%= cart_item.product.introduction %></td>
          <td><%= f.hidden_field 'cart_item[][id]', value: cart_item.id %>
          <%= f.select 'cart_item[][quantity]', [*(0..20)], {selected: cart_item.quantity} %></td>
          <td><%=link_to "削除", cart_item_path(cart_item),method: :delete, class: "btn btn-outline-danger" %></td>
        </tr>
          <% end %>
         <tr>
            <td colspan='4' style='text-align: end'><%= f.submit "数量更新", class: "btn btn-outline-primary" %></td>
          </tr>
      </tbody>
    </table>
    <% end %>
  <div class="ml-auto">
  <div class="ml-5"><%= link_to "発注確認画面へ", confirm_orders_path,method: :post, class: 'btn btn-outline-success' %></div>
  </div>
  </div>
  <% end %>
</div>