<div class="container mt-3">
  <h3>受注可能商品一覧</h3>
  <div class="row">
      <div class="d-flex ml-auto mb-3">
        <div><%= link_to"商品登録",new_admin_product_path, class:"btn btn-secondary" %></div>
      </div>
    <table class="table table_border_radius border-dark table-bordered table-light">
      <thead>
        <tr>
          <th>商品名</th>
          <th>商品概要</th>
          <th>販売状況</th>
          <th>販売状況編集</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.introduction %></td>
          <td><% if product.is_active == false %>
                  <p class="text-success">受注可</p>
                <% else %>
                  <p class="text-black-50">受注不可</p>
                <% end %>
          </td>
          <td style=":width:20rem;"><%= form_with model: [:admin, product], local:true do |f| %>
              <%= f.radio_button :is_active, false %>
              <%= f.label :is_active, '受注可', value:false %>
              <%= f.radio_button :is_active, true %>
              <%= f.label :is_active, '受注不可', value:true %>
              <%= f.submit '変更を保存', class:'btn btn-outline-success'%>
              <% end %>
            <%#= link_to"編集",edit_admin_product_path(product.id), class:"btn btn-success" %></td>
          <td><%= link_to"削除",admin_product_path(product.id), method: :delete, class:"btn btn-danger" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>