<div class="container mt-3">
  <h3>発注可能商品一覧</h3>
  <div class="row">
    <table class="table">
      <thead class="thead-lignt">
        <tr>
          <th>商品名</th>
          <th>商品概要</th>
          <th>残数</th>
          <th>残数更新</th>
          <th>発注数</th>
          <th>決定</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.introduction %></td>
          <td>
            <%#= form_with model:product do |f| %>
              <%#= f.number_field :quantity, max: 100,min: 0, value:0%>
              <%#= f.submit "数量更新", class: "btn btn-success" %>
            <%# end %>
          </td>
          <td>残数更新btn</td>
              <%= form_for @cart_item, url: cart_items_path(@cart_item) do |f| %>
              <%= f.hidden_field :product_id, value: product.id %>
          <td><%= f.select :quantity, [*(1..10)], {selected: 1} %></td>
          <td><%= f.submit "in", class: "btn btn-primary" %></td>
              <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>